DirectoryIndex index.html index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # 1. لو الطلب رايح لأي حاجة جوه الأدمين.. ابعته فوراً لـ index.php ومتبصش تحت
    RewriteCond %{REQUEST_URI} ^/admin [NC]
    RewriteRule ^ index.php [L]

    # 2. استثناءات الصور والـ Assets عشان تظهر في الطرفين
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # 3. استثناءات تانية ضرورية للباك إند (Livewire واللغات)
    RewriteCond %{REQUEST_URI} ^/(api|storage|login|logout|livewire|filament|lang|language) [NC]
    RewriteRule ^ index.php [L]

    # 4. أي حاجة تانية غير اللي فوق.. ابعتها للريأكت (index.html)
    RewriteRule ^ index.html [L]
</IfModule>