<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # أي طلب يبدأ بـ admin يروح فوراً للارافل (index.php)
    # ده هيضمن إن أي تحويل لغة جواه يشتغل صح
    RewriteCond %{REQUEST_URI} ^/admin [NC]
    RewriteRule ^ index.php [L]

    # استثناءات الصور والملفات
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # أي حاجة تانية تروح للريأكت
    RewriteRule ^ index.html [L]
</IfModule>